@* https://stackoverflow.com/questions/9303980/export-to-csv-linq-query *@
@* https://www.codeproject.com/Articles/25133/LINQ-to-CSV-library *@
@model List<Product>

<form asp-action="ExportToCSV" asp-controller="ManagingProduct" method="post">
    <button type="submit" class="btn btn-success mb-3">Download CSV</button>
</form>

@foreach (Product tp in Model)
{
    <div class="border m-3 d-flex align-items-center" height="200">
        <img src="@tp.ImageURL" height="150" class="mr-4">
        <div class="ml-4">
            <h3>@tp.Name</h3>
            <p>Price: @tp.Price</p>
            <p>Stock: @tp.Stock</p>
            <p>Description: @tp.Description</p>
            <p>In category: @tp.Category</p>
            <p>Tags: @tp.TagsJSON</p>
            <a asp-action="EditProduct" asp-controller="ManagingProduct" asp-route-productId="@tp.ProductId" class="btn btn-primary">Edit</a>
            @* <a asp-action="EditTempProduct" asp-controller="TempProduct" asp-route-tempProductId="@tp.TempProductId" class="btn btn-primary">Edit</a> *@
            <form asp-action="DeleteProduct" asp-controller="ManagingProduct" asp-route-productId="@tp.ProductId" method="post" class="d-inline">
                <input type="hidden" name="productId" value="@tp.ProductId" />
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
}


@functions {
    Dictionary<string, string> DeserializeTags(string json)
    {
        return Newtonsoft.Json.JsonConvert.DeserializeObject<Dictionary<string, string>>(json);
    }
}
@* <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> *@